Repository snuhcs-course/swpp-2023-project-team-6, pull requests merged in 2023-11, with the labels that each got.

#16 Feat/reset password frontend
  frontend/app/src/main/java/com/example/speechbuddy/compose/SpeechBuddyApp.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/emailverification/EmailVerificationScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/resetpassword/ResetPasswordScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/data/remote/AuthTokenRemoteSource.kt
  frontend/app/src/main/java/com/example/speechbuddy/data/remote/requests/AuthRequest.kt
  frontend/app/src/main/java/com/example/speechbuddy/di/NetworkModule.kt
  frontend/app/src/main/java/com/example/speechbuddy/repository/AuthRepository.kt
  frontend/app/src/main/java/com/example/speechbuddy/service/AuthService.kt
  frontend/app/src/main/java/com/example/speechbuddy/ui/models/ResetPasswordUiState.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/EmailVerificationViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/ResetPasswordViewModel.kt
  frontend/app/src/main/res/values/strings.xml
Labels: frontend

#20 Test/signupviewmodel frontend
  frontend/app/build.gradle.kts
  frontend/app/src/test/java/com/example/speechbuddy/SignupViewModelTest.kt
Labels: frontend

#23 Test/loginviewmodel frontend
  frontend/app/src/main/java/com/example/speechbuddy/utils/InputValidationUtil.kt
  frontend/app/src/test/java/com/example/speechbuddy/viewmodel/LoginViewModelTest.kt
  frontend/app/src/test/java/com/example/speechbuddy/viewmodel/SignupViewModelTest.kt
Labels: frontend

#18 Feat/symbol selection
  frontend/app/src/main/java/com/example/speechbuddy/compose/home/HomeScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/landing/LandingScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/symbolselection/SelectedSymbolUi.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/symbolselection/SelectedSymbolsBox.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/symbolselection/SymbolSearchTextField.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/symbolselection/SymbolSelectionScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/utils/CategoryUi.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/utils/SymbolUi.kt
  frontend/app/src/main/java/com/example/speechbuddy/domain/models/Entry.kt
  frontend/app/src/main/java/com/example/speechbuddy/ui/Type.kt
  frontend/app/src/main/java/com/example/speechbuddy/utils/Constants.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/SymbolSelectionViewModel.kt
  frontend/app/src/main/res/drawable/category_1.png
  frontend/app/src/main/res/drawable/symbol_1.png
  frontend/app/src/main/res/values/strings.xml
Labels: frontend

#21 test/authService implement test
  frontend/app/build.gradle.kts
  frontend/app/src/test/java/com/example/speechbuddy/service/AuthServiceTest.kt
Labels: frontend

#19 Test/Auth token remote source frontend
  frontend/app/build.gradle.kts
  frontend/app/src/main/java/com/example/speechbuddy/data/remote/AuthTokenRemoteSource.kt
  frontend/app/src/main/java/com/example/speechbuddy/data/remote/requests/AuthRequest.kt
  frontend/app/src/main/java/com/example/speechbuddy/repository/AuthRepository.kt
  frontend/app/src/main/java/com/example/speechbuddy/service/AuthService.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/EmailVerificationViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/ResetPasswordViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/SignupViewModel.kt
  frontend/app/src/test/java/com/example/speechbuddy/data/remote/AuthTokenRemoteSourceTest.kt
  frontend/app/src/test/java/com/example/speechbuddy/viewmodel/SignupViewModelTest.kt
  frontend/build.gradle.kts
Labels: frontend

#22 Test/AuthRepository frontend
  frontend/app/build.gradle.kts
  frontend/app/src/main/java/com/example/speechbuddy/data/remote/models/ErrorResponseMapper.kt
  frontend/app/src/main/java/com/example/speechbuddy/di/NetworkModule.kt
  frontend/app/src/main/java/com/example/speechbuddy/domain/models/ErrorResponse.kt
  frontend/app/src/main/java/com/example/speechbuddy/repository/AuthRepository.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/EmailVerificationViewModel.kt
  frontend/app/src/test/java/com/example/speechbuddy/repository/AuthRepositoryTest.kt
  frontend/app/src/test/java/com/example/speechbuddy/service/AuthServiceTest.kt
Labels: frontend

#29 Fix/connect exception
  frontend/app/src/main/AndroidManifest.xml
  frontend/app/src/main/java/com/example/speechbuddy/compose/emailverification/EmailVerificationScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/login/LoginScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/resetpassword/ResetPasswordScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/signup/SignupScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/utils/ProgressIndicatorUi.kt
  frontend/app/src/main/java/com/example/speechbuddy/data/remote/AuthTokenRemoteSource.kt
  frontend/app/src/main/java/com/example/speechbuddy/di/NetworkModule.kt
  frontend/app/src/main/java/com/example/speechbuddy/repository/AuthRepository.kt
  frontend/app/src/main/java/com/example/speechbuddy/ui/models/EmailVerificationUiState.kt
  frontend/app/src/main/java/com/example/speechbuddy/ui/models/LoginUiState.kt
  frontend/app/src/main/java/com/example/speechbuddy/ui/models/ResetPasswordUiState.kt
  frontend/app/src/main/java/com/example/speechbuddy/ui/models/SignupUiState.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/EmailVerificationViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/LoginViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/ResetPasswordViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/SignupViewModel.kt
  frontend/app/src/main/res/values/strings.xml
Labels: bug

#34 Feat/Implement weight table logic
  frontend/app/build.gradle.kts
  frontend/app/src/main/assets/weight_table.txt
  frontend/app/src/main/java/com/example/speechbuddy/AuthActivity.kt
  frontend/app/src/main/java/com/example/speechbuddy/HomeActivity.kt
  frontend/app/src/main/java/com/example/speechbuddy/data/local/WeightTableLocalSource.kt
  frontend/app/src/main/java/com/example/speechbuddy/data/local/WeightTableOperations.kt
  frontend/app/src/main/java/com/example/speechbuddy/di/WeightTableModule.kt
  frontend/app/src/main/java/com/example/speechbuddy/repository/SymbolRepository.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/SymbolSelectionViewModel.kt
  frontend/settings.gradle.kts
Labels: frontend

#38 Test/settings and symbol related api (backend)
  backend/entry/tests.py
  backend/setup/tests.py
  backend/user/test_views.py
Labels: backend

#37 Refactor signup PW UI
  backend/user/utils.py
  frontend/app/src/main/java/com/example/speechbuddy/compose/signup/SignupScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/SignupViewModel.kt
  frontend/app/src/main/res/values/strings.xml
Labels: frontend, backend, user-interface

#39 상징 선택 페이지 검색 기능 향상
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/SymbolSelectionViewModel.kt
Labels: frontend, user-interface

#41 Hotfix / Change pw-related string in strings.xml
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/ResetPasswordViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/SignupViewModel.kt
  frontend/app/src/test/java/com/example/speechbuddy/viewmodel/SignupViewModelTest.kt
Labels: bug, frontend

#42 Update README.md
  README.md
Labels: documentation

#45 상징 생성 스크린 & 로직
  backend/entry/views.py
  frontend/app/src/main/AndroidManifest.xml
  frontend/app/src/main/java/com/example/speechbuddy/compose/symbolcreation/SymbolCreationScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/symbolselection/SelectedSymbolUi.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/texttospeech/TextToSpeechScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/utils/SymbolUi.kt
  frontend/app/src/main/java/com/example/speechbuddy/data/local/SymbolDao.kt
  frontend/app/src/main/java/com/example/speechbuddy/data/remote/MySymbolRemoteSource.kt
  frontend/app/src/main/java/com/example/speechbuddy/data/remote/models/MySymbolDto.kt
  frontend/app/src/main/java/com/example/speechbuddy/data/remote/models/MySymbolDtoMapper.kt
  frontend/app/src/main/java/com/example/speechbuddy/di/NetworkModule.kt
  frontend/app/src/main/java/com/example/speechbuddy/domain/models/MySymbol.kt
  frontend/app/src/main/java/com/example/speechbuddy/repository/SymbolRepository.kt
  frontend/app/src/main/java/com/example/speechbuddy/service/SymbolCreationService.kt
  frontend/app/src/main/java/com/example/speechbuddy/ui/models/SymbolCreationUiState.kt
  frontend/app/src/main/java/com/example/speechbuddy/utils/Constants.kt
  frontend/app/src/main/java/com/example/speechbuddy/utils/InputValidationUtil.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/SymbolCreationViewModel.kt
  frontend/app/src/main/res/values/strings.xml
  frontend/app/src/test/java/com/example/speechbuddy/viewmodel/SymbolCreationViewModelTest.kt
Labels: frontend

#47 feat/hide keyboard when screen is touched
  frontend/app/src/main/java/com/example/speechbuddy/AuthActivity.kt
  frontend/app/src/main/java/com/example/speechbuddy/HomeActivity.kt
Labels: frontend

#51 웨이트테이블 백업 구현(백엔드)
  backend/config/settings.py
  backend/config/urls.py
  backend/entry/models.py
  backend/entry/views.py
  backend/setup/migrations/0002_setting_updated_at.py
  backend/setup/models.py
  backend/setup/serializers.py
  backend/setup/views.py
  backend/weight_table/__init__.py
  backend/weight_table/admin.py
  backend/weight_table/apps.py
  backend/weight_table/migrations/0001_initial.py
  backend/weight_table/migrations/__init__.py
  backend/weight_table/models.py
  backend/weight_table/serializers.py
  backend/weight_table/tests.py
  backend/weight_table/urls.py
  backend/weight_table/views.py
Labels: backend

#49 feat: Add keyboardOptions to text field
  frontend/app/src/main/java/com/example/speechbuddy/compose/emailverification/EmailVerificationScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/login/LoginScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/signup/SignupScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/utils/TextFieldUi.kt
Labels: frontend

#50 Feat: Set orientation portrait
  frontend/app/src/main/AndroidManifest.xml
  frontend/app/src/main/java/com/example/speechbuddy/AuthActivity.kt
  frontend/app/src/main/java/com/example/speechbuddy/HomeActivity.kt
Labels: frontend

#52 Feat/createsymbol weighttable
  frontend/app/src/main/java/com/example/speechbuddy/repository/WeightTableRepository.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/SymbolCreationViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/SymbolSelectionViewModel.kt
Labels: frontend

#46 Test/symbolselectionviewmodel
  frontend/app/src/test/java/com/example/speechbuddy/repository/AuthRepositoryTest.kt
  frontend/app/src/test/java/com/example/speechbuddy/repository/SymbolRepositoryTest.kt
  frontend/app/src/test/java/com/example/speechbuddy/viewmodel/LoginViewModelTest.kt
  frontend/app/src/test/java/com/example/speechbuddy/viewmodel/SymbolSelectionViewModelTest.kt
Labels: frontend

#56 Feat: Refresh access token
  frontend/app/src/main/java/com/example/speechbuddy/di/NetworkModule.kt
  frontend/app/src/main/java/com/example/speechbuddy/service/AuthService.kt
Labels: frontend

#57 상징 생성 토스트 에러 해결
  frontend/app/src/main/java/com/example/speechbuddy/compose/symbolcreation/SymbolCreationScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/data/local/SymbolDao.kt
  frontend/app/src/main/java/com/example/speechbuddy/repository/SymbolRepository.kt
  frontend/app/src/main/java/com/example/speechbuddy/utils/Constants.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/SymbolCreationViewModel.kt
Labels: bug, frontend

#59 Http Request를 여러 번 쏘는 문제 해결
  frontend/app/src/main/java/com/example/speechbuddy/di/NetworkModule.kt
Labels: bug

#62 Feat/Retreive info on login
  frontend/app/src/main/java/com/example/speechbuddy/BaseApplication.kt
  frontend/app/src/main/java/com/example/speechbuddy/data/local/AppDatabase.kt
  frontend/app/src/main/java/com/example/speechbuddy/data/local/SymbolDao.kt
  frontend/app/src/main/java/com/example/speechbuddy/data/remote/ImageDownloader.kt
  frontend/app/src/main/java/com/example/speechbuddy/data/remote/ProxyImageDownloader.kt
  frontend/app/src/main/java/com/example/speechbuddy/data/remote/RealImageDownloader.kt
  frontend/app/src/main/java/com/example/speechbuddy/data/remote/SettingsRemoteSource.kt
  frontend/app/src/main/java/com/example/speechbuddy/di/ImageDownloaderModule.kt
  frontend/app/src/main/java/com/example/speechbuddy/repository/SettingsRepository.kt
  frontend/app/src/main/java/com/example/speechbuddy/repository/SymbolRepository.kt
  frontend/app/src/main/java/com/example/speechbuddy/repository/WeightTableRepository.kt
  frontend/app/src/main/java/com/example/speechbuddy/service/BackupService.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/LoginViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/SymbolSelectionViewModel.kt
Labels: frontend

#66 선택한 상징 목록 크게 보기 화면 구현
  frontend/app/src/main/AndroidManifest.xml
  frontend/app/src/main/java/com/example/speechbuddy/AuthActivity.kt
  frontend/app/src/main/java/com/example/speechbuddy/HomeActivity.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/SpeechBuddyHome.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/landing/LandingScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/login/LoginScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/symbolselection/DisplayMaxScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/symbolselection/DisplayModeMenu.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/symbolselection/SelectedSymbolUi.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/symbolselection/SelectedSymbolsBox.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/symbolselection/SymbolSelectionScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/utils/ButtonUi.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/utils/CategoryUi.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/utils/SymbolUi.kt
  frontend/app/src/main/java/com/example/speechbuddy/ui/models/SymbolSelectionUiState.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/SymbolSelectionViewModel.kt
  frontend/app/src/main/res/values/strings.xml
Labels: frontend

#67 feat: 비밀번호 확인란에 keyboard type: password 적용
  frontend/app/src/main/java/com/example/speechbuddy/compose/resetpassword/ResetPasswordScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/signup/SignupScreen.kt
Labels: frontend

#69 feat/loading-indicator
  frontend/app/src/main/java/com/example/speechbuddy/compose/emailverification/EmailVerificationScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/login/LoginScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/resetpassword/ResetPasswordScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/settings/AccountSettings.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/settings/BackupSettings.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/signup/SignupScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/symbolcreation/SymbolCreationScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/ui/models/AccountSettingsUiState.kt
  frontend/app/src/main/java/com/example/speechbuddy/ui/models/BackupSettingsUiState.kt
  frontend/app/src/main/java/com/example/speechbuddy/ui/models/EmailVerificationUiState.kt
  frontend/app/src/main/java/com/example/speechbuddy/ui/models/LoginUiState.kt
  frontend/app/src/main/java/com/example/speechbuddy/ui/models/ResetPasswordUiState.kt
  frontend/app/src/main/java/com/example/speechbuddy/ui/models/SignupUiState.kt
  frontend/app/src/main/java/com/example/speechbuddy/ui/models/SymbolCreationUiState.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/AccountSettingsViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/BackupSettingsViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/EmailVerificationViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/LoginViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/ResetPasswordViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/SignupViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/SymbolCreationViewModel.kt
Labels: frontend

#72 Fix: Change coroutine to execute after response on login
  frontend/app/src/main/java/com/example/speechbuddy/data/remote/models/SettingsBackupDto.kt
  frontend/app/src/main/java/com/example/speechbuddy/repository/SettingsRepository.kt
  frontend/app/src/main/java/com/example/speechbuddy/repository/SymbolRepository.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/LoginViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/SymbolSelectionViewModel.kt
Labels: bug, frontend

#75 :rotating_light: Unit test 관련 에러
  frontend/app/src/main/java/com/example/speechbuddy/compose/symbolselection/DisplayMaxScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/symbolselection/DisplayModeMenu.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/symbolselection/SelectedSymbolsBox.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/symbolselection/SymbolSelectionScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/data/local/AuthTokenPrefsManager.kt
  frontend/app/src/main/java/com/example/speechbuddy/data/local/UserIdPrefsManager.kt
  frontend/app/src/main/java/com/example/speechbuddy/di/DatabaseModule.kt
  frontend/app/src/main/java/com/example/speechbuddy/repository/AuthRepository.kt
  frontend/app/src/main/java/com/example/speechbuddy/repository/UserRepository.kt
  frontend/app/src/main/java/com/example/speechbuddy/utils/Constants.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/LoginViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/SymbolCreationViewModel.kt
  frontend/app/src/main/res/values/strings.xml
  frontend/app/src/test/java/com/example/speechbuddy/repository/AuthRepositoryTest.kt
  frontend/app/src/test/java/com/example/speechbuddy/repository/SymbolRepositoryTest.kt
  frontend/app/src/test/java/com/example/speechbuddy/repository/WeightTableRepositoryTest.kt
  frontend/app/src/test/java/com/example/speechbuddy/viewmodel/SymbolCreationViewModelTest.kt
  frontend/app/src/test/java/com/example/speechbuddy/viewmodel/SymbolSelectionViewModelTest.kt
Labels: bug, test

#65 상징 목록 관리 세팅 페이지/로직 구현
  frontend/app/src/main/java/com/example/speechbuddy/compose/settings/MainSettings.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/settings/MySymbolSettings.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/settings/SettingsScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/data/local/SymbolDao.kt
  frontend/app/src/main/java/com/example/speechbuddy/data/local/WeightRowDao.kt
  frontend/app/src/main/java/com/example/speechbuddy/repository/SymbolRepository.kt
  frontend/app/src/main/java/com/example/speechbuddy/repository/WeightTableRepository.kt
  frontend/app/src/main/java/com/example/speechbuddy/ui/models/MySymbolSettingsUiState.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/MySymbolSettingsViewModel.kt
  frontend/app/src/main/res/values/strings.xml
Labels: frontend

#78 주요 이슈들 해결
  frontend/app/src/main/AndroidManifest.xml
  frontend/app/src/main/java/com/example/speechbuddy/HomeActivity.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/SpeechBuddyHome.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/settings/AccountSettings.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/settings/BackupSettings.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/settings/CopyrightScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/settings/DevelopersInfo.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/settings/DisplaySettings.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/settings/GuestSettings.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/settings/MainSettings.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/settings/MySymbolSettings.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/settings/SettingsScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/settings/VersionInfoScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/symbolcreation/SymbolCreationScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/symbolselection/DisplayMaxScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/symbolselection/SymbolSelectionScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/texttospeech/TextToSpeechScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/utils/TopAppBarUi.kt
  frontend/app/src/main/java/com/example/speechbuddy/data/local/SymbolDao.kt
  frontend/app/src/main/java/com/example/speechbuddy/data/local/UserDao.kt
  frontend/app/src/main/java/com/example/speechbuddy/data/local/UserIdPrefsManager.kt
  frontend/app/src/main/java/com/example/speechbuddy/data/local/WeightRowDao.kt
  frontend/app/src/main/java/com/example/speechbuddy/domain/SessionManager.kt
  frontend/app/src/main/java/com/example/speechbuddy/repository/AuthRepository.kt
  frontend/app/src/main/java/com/example/speechbuddy/repository/SettingsRepository.kt
  frontend/app/src/main/java/com/example/speechbuddy/repository/SymbolRepository.kt
  frontend/app/src/main/java/com/example/speechbuddy/repository/UserRepository.kt
  frontend/app/src/main/java/com/example/speechbuddy/repository/WeightTableRepository.kt
  frontend/app/src/main/java/com/example/speechbuddy/utils/Constants.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/AccountSettingsViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/LoginViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/MySymbolSettingsViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/SymbolSelectionViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/worker/SeedDatabaseWorker.kt
Labels: bug, frontend

#71 fix/backup
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/AccountSettingsViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/BackupSettingsViewModel.kt
Labels: bug, frontend

#83 상징 생성 시 사진 인풋 없을 때 앱 터지는 버그 해결
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/SymbolCreationViewModel.kt
Labels: bug, frontend
