Repository snuhcs-course/swpp-2023-project-team-6, pull requests merged in 2023-12, with the labels that each got.

#88 자동 백업 시 lastBackupDate 업데이트
  frontend/app/src/main/java/com/example/speechbuddy/AuthActivity.kt
Labels: bug, frontend

#99 Fix: Weight table update logic
  frontend/app/src/main/java/com/example/speechbuddy/HomeActivity.kt
  frontend/app/src/main/java/com/example/speechbuddy/repository/WeightTableRepository.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/MySymbolSettingsViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/worker/SeedDatabaseWorker.kt
Labels: bug, frontend

#89 Test/integration settings
  frontend/app/src/androidTest/java/com/example/speechbuddy/AccountSettingsScreenTest.kt
  frontend/app/src/androidTest/java/com/example/speechbuddy/AndroidTestUtil.kt
  frontend/app/src/androidTest/java/com/example/speechbuddy/BackupSettingsScreenTest.kt
  frontend/app/src/androidTest/java/com/example/speechbuddy/DisplaySettingsScreenTest.kt
  frontend/app/src/androidTest/java/com/example/speechbuddy/EmailVerificationScreenForResetPWTest.kt
  frontend/app/src/androidTest/java/com/example/speechbuddy/EmailVerificationScreenForSignupTest.kt
  frontend/app/src/androidTest/java/com/example/speechbuddy/GuestSettingsScreenTest.kt
  frontend/app/src/androidTest/java/com/example/speechbuddy/LandingScreenTest.kt
  frontend/app/src/androidTest/java/com/example/speechbuddy/LoginScreenTest.kt
  frontend/app/src/androidTest/java/com/example/speechbuddy/MainSettingsScreenTest.kt
  frontend/app/src/androidTest/java/com/example/speechbuddy/ResetPasswordScreenTest.kt
  frontend/app/src/androidTest/java/com/example/speechbuddy/SignupScreenTest.kt
  frontend/app/src/androidTest/java/com/example/speechbuddy/TextToSpeechScreenTest.kt
  frontend/app/src/main/java/com/example/speechbuddy/BaseActivity.kt
  frontend/app/src/main/java/com/example/speechbuddy/HomeActivity.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/settings/BackupSettings.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/settings/DisplaySettings.kt
  frontend/app/src/main/java/com/example/speechbuddy/repository/UserRepository.kt
  frontend/app/src/main/java/com/example/speechbuddy/ui/Theme.kt
Labels: frontend, test

#106 Initialize weight table when signing up (Backend)
  backend/setup/tests.py
  backend/setup/views.py
  backend/user/serializers.py
  backend/user/views.py
  backend/weight_table.txt
Labels: backend

#102 Managers 테스트 구현
  frontend/app/src/androidTest/java/com/example/speechbuddy/AuthTokenPrefsManagerTest.kt
  frontend/app/src/androidTest/java/com/example/speechbuddy/SettingsPrefsManagerTest.kt
  frontend/app/src/androidTest/java/com/example/speechbuddy/UserIdPrefsManagerTest.kt
  frontend/app/src/test/java/com/example/speechbuddy/domain/SessionManagerTest.kt
Labels: frontend, test

#93 Test: Login viewmodel
  frontend/app/src/test/java/com/example/speechbuddy/repository/AuthRepositoryTest.kt
  frontend/app/src/test/java/com/example/speechbuddy/viewmodel/LoginViewModelTest.kt
Labels: test

#105 Test: Add test for image downloader
  frontend/app/src/test/java/com/example/speechbuddy/data/remote/ProxyImageDownloaderTest.kt
  frontend/app/src/test/java/com/example/speechbuddy/data/remote/RealImageDownloader.kt
Labels: test

#109 :white_check_mark: Fix error in test
  frontend/app/src/test/java/com/example/speechbuddy/viewmodel/BackupSettingsViewModelTest.kt
Labels: test

#113 설정 백업시 '자동백업' 여부 추가
  backend/setup/migrations/0003_auto_20231209_1431.py
  backend/setup/models.py
  backend/setup/serializers.py
  backend/setup/tests.py
  backend/setup/views.py
Labels: backend

#107 Fix db init, auto login, guest mode, backup, coroutine, etc.
  frontend/app/build.gradle.kts
  frontend/app/src/main/java/com/example/speechbuddy/AuthActivity.kt
  frontend/app/src/main/java/com/example/speechbuddy/BaseActivity.kt
  frontend/app/src/main/java/com/example/speechbuddy/BaseApplication.kt
  frontend/app/src/main/java/com/example/speechbuddy/HomeActivity.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/SpeechBuddyHome.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/settings/AccountSettings.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/settings/BackupSettings.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/settings/CopyrightScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/settings/SettingsRow.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/settings/SettingsScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/data/local/UserDao.kt
  frontend/app/src/main/java/com/example/speechbuddy/data/remote/models/AccessTokenDtoMapper.kt
  frontend/app/src/main/java/com/example/speechbuddy/data/remote/models/SettingsBackupDto.kt
  frontend/app/src/main/java/com/example/speechbuddy/domain/SessionManager.kt
  frontend/app/src/main/java/com/example/speechbuddy/repository/AuthRepository.kt
  frontend/app/src/main/java/com/example/speechbuddy/repository/SettingsRepository.kt
  frontend/app/src/main/java/com/example/speechbuddy/repository/UserRepository.kt
  frontend/app/src/main/java/com/example/speechbuddy/repository/WeightTableRepository.kt
  frontend/app/src/main/java/com/example/speechbuddy/service/BackupService.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/AccountSettingsViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/BackupSettingsViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/EmailVerificationViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/LoginViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/ResetPasswordViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/SymbolSelectionViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/worker/SeedDatabaseWorker.kt
Labels: bug, frontend

#110 :bugs: Fix downloading image all the time
  frontend/app/src/main/java/com/example/speechbuddy/data/remote/ProxyImageDownloader.kt
Labels: bug

#123 백업 관련 핫픽스
  frontend/app/src/main/java/com/example/speechbuddy/AuthActivity.kt
  frontend/app/src/main/java/com/example/speechbuddy/compose/symbolselection/SymbolSelectionScreen.kt
  frontend/app/src/main/java/com/example/speechbuddy/data/remote/SettingsRemoteSource.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/BackupSettingsViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/viewmodel/SymbolSelectionViewModel.kt
  frontend/app/src/main/java/com/example/speechbuddy/worker/SeedDatabaseWorker.kt
Labels: bug, frontend

#126 :white_check_mark: Add test signup viewmodel
  frontend/app/src/test/java/com/example/speechbuddy/viewmodel/SignupViewModelTest.kt
Labels: test
